@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* Jenni Added */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Solution didn't put this */
}

img {
  width: 600px;
  /* Jenni Added */
  padding-bottom: 10px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /* Jenni Added */
  padding: 8px 12px;
  margin: 4px; /* Solution didn't put this */
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Jenni Added */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #636161;
}

.footer {
  background-color: #eeeeee;
}

.header,
.footer,
.left-links, /* The solution put the flex on the ul intead on left and right links */
.right-links {
  display: flex;
}

.header,
.footer {
  justify-content: space-between;
  padding: 16px;
}

.left-links,
.right-links {
  gap: 16px; /* In solution gap was placed on ul */
}

.content {
  align-self: center;
  text-align: center;
  /*
  what solution put:
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  */
}